*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.add__movie{
    width: 500px;
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 500px;
}
.form > input {
    padding: 10px;
    margin-bottom: 10px;
}
button{
   width: 90%;
   display: block;
   margin: auto;
   padding: 10px;
}
.movie{
    border-bottom: 1px solid black;
}